.ipsum {
    padding-top: 103px;
}

.ipsum_block {
    display: flex;
    justify-content: space-between;
}

.ipsum_bolt {
    width: 587px;
    height: 768px;
}

.ipsum_bort {
    width: 587px;
    height: 666px;
    padding-top: 90px;
}

.ipsum_btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #fffcfc;
    width: 164px;
    height: 48px;
    background: #2351f5;
    margin-top: 21px;
    border: none;
}

.ipsum_title {
    font-weight: 600;
    font-size: 30px;
    color: #000;
    margin-top: 21px;
    margin-bottom: 32px;
}

.ipsum_text {
    font-weight: 400;
    font-size: 17px;
    line-height: 208%;
    color: #515151;
}

.ipsum_list {
    width: 618px;
    height: 183px;

}

.ipsum_item {
    display: flex;
    align-items: center;
    gap: 31px;
    margin-bottom: 60px;
}

.ipsum_btm {
    font-weight: 400;
    font-size: 14px;
    line-height: 187%;
    color: #fffcfc;
    width: 137px;
    height: 39px;
    background: #2351f5;
}

.ipsum_btm_1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 187%;
    color: #fffcfc;
    width: 137px;
    height: 39px;
    background: #000;
}

.ipsum_btm_2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 187%;
    color: #fffcfc;
    width: 137px;
    height: 39px;
    background: #ff7c32;
}

.ipsum_btm_3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 187%;
    color: #fffcfc;
    width: 137px;
    height: 39px;
    background: #23a54f;
}

.ipsum_btm_4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 187%;
    color: #fffcfc;
    width: 137px;
    height: 39px;
    background: #9921c3;
}

.ipsum_sub_title {
    font-weight: 600;
    font-size: 23px;
    color: #000;
    margin-top: 23px;
}