.contact {
    padding-top: 84px;
}

.contact_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 209%;
    color: #848484;
    text-align: center;
    padding-bottom: 15px;
}

.span_text {
    color: #e47500;
}

.contact_title {
    font-weight: 600;
    font-size: 33px;
    line-height: 180%;
    text-align: center;
    color: #222;
    padding-bottom: 13px;
}

.contact_text2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #898989;
    padding-bottom: 93px;
}

.contact_img {
    margin-right: auto;
    margin-left: auto;
    width: 1060px;
    margin-left: 120px;
    text-align: center;
    padding-bottom: 62px;
}

.contact_list {
    gap: 202px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    padding-bottom: 166px;
}

.contact2_text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 189%;
    color: #000;
}


